<ion-view title="案例编辑" >
    <ion-nav-bar class="bar-dark" >
        <ion-nav-buttons side="left" >
            <button  class="button  button-clear  " menu-toggle="right" ng-click="test()">
                返回
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button  class="button  button-clear  " menu-toggle="left" ng-click="add()">
                编辑
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header padding">

                <div class="list card" ng-click="check()" ng-repeat="na in data" style="background-color: blanchedalmond">
                    <div>
                        <img src="{{na.content[0].file}}" style="float: left;width: 40%;margin-left: 3%; margin-bottom: 5%">
                        <h3 style="margin-left: 45%">{{na.name}}</h3>
                        <p style="margin-left: 45%">点击查看详细信息</p>
                    </div>
                </div>




</ion-content>
</ion-view>