<ion-view title="服务产品展示">
    <ion-nav-bar class="bar-dark light">
        <ion-nav-buttons side="left">
            <button  class="button  button-clear " menu-toggle="right" ng-click="back()">
                返回
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button  class="button  button-clear " menu-toggle="left" ng-click="add()">
                添加
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header padding" style="background: dimgrey">


        <ion-list  >

            <ion-item class="item item-thumbnail-left" ng-repeat="item in data"  href="#" value="aa">

                <img src="{{item.image}}">
                <h2>{{item.name}}</h2>

                <p>内容简介：<br>{{item.desc}}</p>

                <ion-option-button class="button-info"
                ng-click="edit(aa=item.name)">
                {{item.name}}
                </ion-option-button>


            </ion-item>


        </ion-list>
</ion-content>
</ion-view>