<ion-view title="产品展示">
<ion-content class="bar bar-dark" scroll="true">
    <div class="list card">
        <div class="item item-avatar">
            <img src="img/car5.jpg">

            <h2>尔康汽车4s店</h2>

            <p>www.erkang.av</p>
        </div>
        <div class="item item-body">
            <img class="full-image" src="{{imgSrc}}">

            <p>
                点击下面选择图片的按钮，选择你要展示的图片
            </p>
        </div>
    </div>
    <button class="button button-full button-positive" ng-click="pickImage()">
        select（选择图片）
    </button>
</ion-content>
</ion-view>