<ion-view title="服务产品展示">
    <ion-nav-bar class="bar-dark light">
        <ion-nav-buttons side="left">
            <button  class="button  button-clear " menu-toggle="right" ng-click="back()">
                返回
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button  class="button  button-clear " menu-toggle="left" ng-click="add()">
                添加
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header padding" style="background: dimgrey">


        <div class="list" ng-repeat="product in data">

            <div class="item item-thumbnail-left">
                <img src="{{product.image}}">
                <h2>{{product.name}}</h2>

                <p>内容简介：<br>{{product.desc}}</p>
            </div>

        </div>
</ion-content>
</ion-view>