
<ion-view view-title="个人信息"  >
    <ion-nav-bar class="bar bar-dark">
        <ion-nav-buttons side="right">
            <button  class="button  button-dark " menu-toggle="left" ng-click="modify()">
                修改资料
            </button>
        </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button  class="button  button-dark " menu-toggle="right" ng-click="back()">
            返回
        </button>
        </ion-nav-buttons>
        </ion-nav-bar>

<ion-content>

<div class="list list-item">
    <a class="item item-avatar">
        <img src="img/car3.jpg">

        <p class="padding-right">James</p>


    </a>
    <a class="item item-icon-left">
        <i  class="icon ion-ios-email-outline"></i>
        我的邮箱：123456782@qq.com
    </a>

    <a class="item item-icon-left ">
        <i class="icon ion-ios-telephone-outline"></i>
        联系方式：13800138000
    </a>
</div>


</ion-content>
</ion-view>
