<ion-view view-title="汽车维修服务平台" >
  <ion-side-menus  class="bar-dark" enable-menu-with-back-views="false">

    <ion-side-menu-content class="home">

      <div class="bar bar-subheader item-input-inset bar-stable">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="大家都在搜：三里屯 优衣库">
        </label>
      </div>

        <ion-nav-back-button>
        </ion-nav-back-button>

      <ion-nav-bar>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>

      </ion-nav-bar>
      <div class="show">
        <ion-slide-box does-continue="true" auto-play="true" show-pager="true" slide-interval="3000">
          <ion-slide>
            <img src="img/show1.png"  class="show-img">
          </ion-slide>
          <ion-slide>
            <img src="img/show2.png"  class="show-img">
          </ion-slide>
          <ion-slide>
            <img src="img/show3.png"  class="show-img">
          </ion-slide>
        </ion-slide-box>
      </div>

      <div class="row">
        <div class="col balanced-bg light" ng-click="show()">
          <div>商家介绍</div>
          <i class="icon ion-ios-information-outline"></i>
        </div>
        <div class="col  dark-bg light" ng-click="edit()">
          <div>产品编辑</div>
          <i class="icon ion-android-checkbox-outline "></i>
        </div>
        <div class="col  light-bg assertive" ng-click="orders()">
          <div>在线预约</div>
          <i class="icon ion-ios-clock-outline "></i>
        </div>
      </div>

      <div class="row" >
        <div class="col  energized-bg light" ng-click="">
          <div>优惠活动</div>
          <i class="icon ion-social-yen-outline"></i>
        </div>

      <div class="col  stable-bg balanced" ng-click="chat()">
        <div>案例编辑</div>
        <i class="icon ion-edit"></i>
      </div>

      <div class="col  calm-bg light" ng-click="">
        <div>行车导航</div>
        <i class="icon ion-ios-location-outline"></i>
      </div>
    </div>

      <div class="row">
        <div class="col royal-bg dark" ng-click="edit()">
          <div>留言</div>
          <i class="icon ion-pricetag"></i>
        </div>
        <div class="col  positive-bg dark" ng-click="orders()">
          <div>预约查询</div>
          <i class="icon ion-ios-search-strong"></i>
        </div>
      <div class="col  assertive-bg light"ng-click="">
        <div>关注我们</div>
        <i class="icon ion-android-favorite-outline"></i>
      </div>
    </div>

    </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">更多</h1>
      </ion-header-bar>
      <ion-content>
        <ion-item menu-close ng-click="login()">
          用户登录
        </ion-item>
        <ion-item menu-close ng-click="register()">
          用户注册
        </ion-item>
        <ion-item menu-close ng-click="check()">
          预约查询
        </ion-item>
        <ion-item menu-close href="#">
          消息推送
        </ion-item>
        <ion-item menu-close href="#">
          帮助
        </ion-item>
      </ion-content>

    </ion-side-menu>

  </ion-side-menus>

</ion-view>


