
<ion-view view-title="我的服务" >
  <ion-content  scroll="false">
    <div class="list list-item">
      <!--<a class="item item-icon-left" ng-click="orders()">-->
        <!--<i class="icon ion-ios-clock-outline"></i>-->
        <!--预约退订-->
      <!--</a>-->
        <a class="item item-icon-left " ng-click="login()">
            <i class="icon ion-android-contact"></i>
            用户登录
        </a>
        <a class="item item-icon-left " ng-click="register()">
            <i class="icon ion-android-person-add"></i>
            用户注册
        </a>
        <a class="item item-icon-left" ng-click="settings()">
        <i class="icon ion-ios-gear"></i>
        我的设置
        </a>

      <a class="item item-icon-left" ng-click="feedback()">
        <i class="icon ion-ios-chatbubble"></i>
          问题反馈
      </a>

      <a class="item item-icon-left" ng-click="share()">
        <i class="icon ion-ios-upload"></i>
        分享应用
      </a>
      <a class="item item-icon-left " ng-href="tel:13726278181">
        <i class="icon ion-ios-telephone"></i>
        联系我们
      </a>


    </div>
  </ion-content>

</ion-view>
